<div class="main-menu">
  <div class="find-events"><span class="create-event">Create Event</span></div>
  <div class="favorites"><span class="favorites">Favorites</span></div>
  <div class="help-centre"><span class="help-centre-3">Help Centre</span></div>
  <div class="sign-in"><span class="emily">Emily</span></div>
</div>