<article class="flex relative flex-col px-2.5 py-3 bg-white rounded-3xl border border-black border-solid min-h-[274px] w-[220px]">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/cdc46b0df74373c8bd9c5d016c54df2dfa0fc4766e3a125aadc463d2ab2167cb?placeholderIfAbsent=true&apiKey=ebef20be8ac64715b20aad6afc45aaac" class="object-contain z-0 flex-1 rounded-3xl aspect-[1.74] w-[200px]" alt="Event image for Book new book now" />
  <div class="flex z-0 flex-col flex-1 mt-5 w-full">
    <div class="flex flex-col flex-1 w-full">
      <div class="flex gap-6 items-start w-full min-h-[30px]">
        <h3 class="flex-1 shrink text-lg font-bold leading-none text-black basis-0">Book new book now</h3>
        <button aria-label="More options" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
          <div class="flex flex-col px-1 pb-2.5 w-5">
            <div class="flex shrink-0 w-1.5 bg-black h-[21px]"></div>
          </div>
        </button>
      </div>
      <div class="flex flex-col flex-1 w-full text-xs font-medium leading-none text-black">
        <time datetime="2023-11-02T13:34:00">Sunday, Nov 2</time>
        <time datetime="2023-11-02T13:34:00">01:34 pm</time>
        <address>Portland, Illinois</address>
      </div>
    </div>
    <div class="flex gap-3.5 items-center px-1 w-full text-black">
      <div class="self-stretch my-auto text-xs font-medium leading-none">Darlene Robertson</div>
      <div class="flex-1 shrink self-stretch my-auto text-xs text-right basis-0">57.3k Followers</div>
    </div>
  </div>
  <div class="flex absolute right-1 top-5 z-0 flex-col pb-4 w-11 h-[43px]">
    <button aria-label="Add to favorites" class="flex flex-col justify-center items-center px-1 w-full h-7 bg-white rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
      <div class="flex shrink-0 bg-black h-[19px] w-[19px]"></div>
    </button>
  </div>
</article>