<% if event_list %>
  <% event_list.each do |event| %>

    <div class="inline-block px-2">
      <article class="flex relative flex-col px-2.5 py-3 bg-white rounded-3xl border border-black border-solid min-h-[274px] w-[220px]">
        <%= render partial: "event_card", locals: { event: event } %>
      </article>
    </div>

  <% end %>
<% end %>