<%# Event Listings %>

<section>
  <div class="flex flex-row mb-2 justify-center">
    <span> <h3 class="text-2xl font-semibold row-span-1 text-center">Browsing events near you</h3></span>
  </div>
  <div class="flex flex-row justify-center mb-6">
      <div class="flex flex-row justify-between space-x-12">
        <button class="px-1 py-1 text-lg font-light rounded-full hover:bg-gray-50">All</button>
        <button class="px-1 py-1 text-lg font-light rounded-full hover:bg-gray-50">For You</button>
        <button class="px-1 py-1 text-lg font-light rounded-full hover:bg-gray-50">Online</button>
        <button class="px-1 py-1 text-lg font-light rounded-full hover:bg-gray-50">Today</button>
        <button class="px-1 py-1 text-lg font-light rounded-full hover:bg-gray-50">Free</button>
        <button class="px-1 py-1 text-lg font-light rounded-full hover:bg-gray-50">Music</button>
        <button class="px-1 py-1 text-lg font-light rounded-full hover:bg-gray-50">Community</button>
        <button class="px-1 py-1 text-lg font-light rounded-full hover:bg-gray-50">Sports</button>
      </div>
  </div>
</section>

<!-- ALL Events Section -->

<section>
  <div class="flex justify-center">
    <div class="grid grid-cols-4 gap-3 justify-center">
          <%= render partial: "events_cards_horizontal", locals: { event_list: @trending_events } %>

    </div>
  </div>
</section>

<!--  All Events Section -->

<%# Interests Section %>

<section class="py-12 bg-gray-50 mx-auto shadow border-gray-200 w-[100%] flex justify-center">
  <div class="mx-auto px-4 ">
    <h3 class="text-2xl font-semibold mb-4">Let's make it personal!</h3>
    <p class="text-gray-600 mb-8">Select your interests to get event suggestions based on what you love</p>
    <div class="flex flex-wrap gap-4">
      <% interests = ['Badminton', 'Cricket', 'Music', 'Cooking', 'Travelling', 'Dancing', 'Art', 'Designing', 'Political Science', 'Party', 'Singing', 'EDM'] %>
      <% interests.each do |interest| %>
        <button class="px-4 py-2 text-sm rounded-full border border-gray-300 hover:bg-gray-50">
          <%= interest %>
        </button>
      <% end %>
    </div>
  </div>
</section>

