<%= turbo_frame_tag "event_status_#{@event.id}" do %>
  <p>Status: <%= @event.status.humanize %></p>
  <%= link_to 'Edit Status', edit_status_event_path(@event), data: { turbo_frame: "event_status_#{@event.id}" } %>
<% end %>