<div>
  <% if device_type == :mobile %>

    <section>
      <%= render "events/partials/forms/form_header" %>
      <div id="event-form-container">
          <%= render "events/partials/forms/step_1_basic_data", event: @event %>
      </div>
    </section>
  <% else %>
    <%#= render "layouts/desktop_content" %>
    <%= render "form", event: @event, button_text: 'Create' %>
  <% end %>
</div>