<div>
  <% if device_type == :mobile %>

    <section>
      <%= render "events/partials/forms/form_header" %>
      <div id="event-form-container">
        <%= render "events/partials/forms/step_1_basic_data", event: @event %>
      </div>
    </section>
  <% else %>
    <%#= render "layouts/desktop_content" %>
    <div class="mx-auto w-[97.5%]">
      <div id="event-form-container">
      <%= render "form", event: @event, button_text: 'Create' %>
      </div>
    </div>
  <% end %>
</div>