<div class="bg-white shadow rounded p-6 mb-6">

  <%= render partial: "events/partials/show_details", locals: { event: @event} %>

  <% if current_user == @event.organizer %>

        <%= render partial: "events/partials/event_owner_options", locals: { event: @event} %>

  <% end %>


</div>