<div class="min-w-full flex justify-center">
  <table class="table-auto w-3/4 shadow-md mt-5 mb-5 bg-white rounded-lg">
    <thead>
    <tr class="bg-gray-100">
      <th colspan="4" class="border p-4 border-gray-200 leading-normal text-lg font-medium text-gray-800">Registrations</th>
    </tr>
    <tr class="text-left bg-gray-100">
      <th class="px-4 py-2 text-gray-600 font-bold">User</th>
      <th class="px-4 py-2 text-gray-600 font-bold">Quantity</th>
      <th class="px-4 py-2 text-gray-600 font-bold">Status</th>
      <th class="px-4 py-2 text-gray-600 font-bold">Registered On</th>
    </tr>
    </thead>
    <tbody>
    <% @event_registrations.each do |registration| %>
      <tr>
        <td class="border px-4 py-2"><%= registration.user.name %></td>
        <td class="border px-4 py-2"><%= registration.quantity %></td>
        <td class="border px-4 py-2"><%= registration.status %></td>
        <td class="border px-4 py-2"><%= registration.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>