<div id="event-form-container">
  <section class="flex flex-col items-center pt-5 pb-9 bg-white max-w-[390px] rounded-[30px]">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6d37b6d8ff8a4323a696d3c802f8012cba37bc32ae536a28c7eca977df100256?placeholderIfAbsent=true&apiKey=ebef20be8ac64715b20aad6afc45aaac" class="object-contain w-full aspect-[1.52]" alt="Congratulations banner"/>
    <div class="flex flex-col items-center mt-12">
      <header class="flex flex-col items-center text-black">
        <h1 class="text-2xl font-bold leading-none tracking-[2.2px]">Congratulations!!! Emily</h1>
        <p class="mt-4 text-base tracking-wider leading-none">Your Event is Live!!!</p>
      </header>
      <div class="flex flex-col mt-10 max-w-full text-base font-semibold tracking-widest text-center w-[229px]">
        <button class="gap-2.5 self-center px-5 py-4 w-full text-white rounded-xl bg-violet-950 min-h-[57px]">
          Download Invitation
        </button>
        <button class="gap-2.5 self-stretch px-5 py-3 mt-8 w-full text-black whitespace-nowrap rounded-xl border border-black border-solid min-h-[45px]">
          Close
        </button>
      </div>
    </div>
  </section>

  <%= link_to "CLOSE", dashboard_index_path(current_user),
              class: "gap-2.5 self-stretch px-5 py-2.5 max-w-full text-2xl font-semibold text-center text-white whitespace-nowrap rounded-xl bg-violet-950 min-h-[52px] tracking-[2.2px] w-[338px]" %>

</div>