<div id="event-form-container">
<% puts "INVITEE FORM STEP 3" %>
<%= form_with model: @event, url: @event.persisted? ? save_draft_event_path(@event) : events_path,
              method: @event.persisted? ? :patch : :post,
              data: { controller: "event_form", action: "ajax:success->event_form#navigate"},
              class: "flex flex-col mt-10 max-w-full text-base leading-none text-neutral-400",
              local: false do |form| %>

  <% puts "INSIDE INVITEE FORM STEP 3" %>


  <section class="flex flex-col mt-12 max-w-full w-[338px]">
    <h2 class="text-sm font-medium leading-none text-black">Existing invitee list</h2>

      <div class="flex gap-4 items-center">
        <input type="checkbox" id="aisha-birthday" class="sr-only"/>
        <label for="aisha-birthday" class="flex gap-2.5 items-center cursor-pointer">
          <span class="flex gap-2.5 items-start self-stretch p-1 my-auto w-5 rounded border-gray-700 border-solid border-[3px]"></span>
          <span class="self-stretch my-auto text-base tracking-widest leading-none text-black">Aisha's Birthday</span>
        </label>
      </div>
      <div class="flex gap-4 items-center self-start mt-8">
        <input type="checkbox" id="open-mic-23" class="sr-only" checked/>
        <label for="open-mic-23" class="flex gap-2.5 items-center cursor-pointer">
            <span class="flex gap-2.5 items-start self-stretch p-1 my-auto w-5 rounded border-gray-700 border-solid border-[3px]">
              <span class="flex w-3 h-3 bg-gray-700 rounded-sm min-h-[12px]"></span>
            </span>
          <span class="self-stretch my-auto text-base tracking-widest leading-none text-black">Open mic 23</span>
        </label>
      </div>
      <div class="flex gap-4 items-center mt-8">
        <input type="checkbox" id="john-birthday" class="sr-only" checked/>
        <label for="john-birthday" class="flex gap-2.5 items-center cursor-pointer">
            <span class="flex gap-2.5 items-start self-stretch p-1 my-auto w-5 rounded border-gray-700 border-solid border-[3px]">
              <span class="flex w-3 h-3 bg-gray-700 rounded-sm min-h-[12px]"></span>
            </span>
          <span class="self-stretch my-auto text-base tracking-widest leading-none text-black">John's Birthday</span>
        </label>
      </div>
      <div class="flex gap-4 items-center self-start mt-8">
        <input type="checkbox" id="new-year-22" class="sr-only"/>
        <label for="new-year-22" class="flex gap-2.5 items-center cursor-pointer">
          <span class="flex gap-2.5 items-start self-stretch p-1 my-auto w-5 rounded border-gray-700 border-solid border-[3px]"></span>
          <span class="self-stretch my-auto text-base tracking-widest leading-none text-black">New Year 22</span>
        </label>
      </div>
      <div class="flex gap-4 items-center mt-8">
        <input type="checkbox" id="animal-charity" class="sr-only"/>
        <label for="animal-charity" class="flex gap-2.5 items-center cursor-pointer">
          <span class="flex gap-2.5 items-start self-stretch p-1 my-auto w-5 rounded border-gray-700 border-solid border-[3px]"></span>
          <span class="self-stretch my-auto text-base tracking-widest leading-none text-black">Animal Charity</span>
        </label>
      </div>
  </section>

  <div class="mb-5">
    <%= form.label :invite_list, "Invite List" %>
    <%= form.text_field :invite_list, placeholder: "Invite List", value: "Invite List",
                        class: "gap-2.5 self-stretch p-5 w-full bg-white rounded-3xl border border-black border-solid shadow-sm min-h-[55px]",
                        required: true %>
  </div>

  <%= form.submit "Continue", class: "gap-2.5 self-stretch px-5 py-2.5 max-w-full text-2xl font-semibold text-center text-white whitespace-nowrap rounded-xl bg-blue-500 min-h-[52px] tracking-[2.2px] w-[338px]" %>
<% end %>
</div>