
<section class="bg-gray-50 flex flex-wrap gap-4 w-[90%] items-center justify-center">
      <% categories.each do |category| %>
              <span class="text-sm text-gray-600 text-center text-wrap items-center"><%= category.name %></span>
      <% end %>
</section>