<footer class="text-center mx-auto p-6">
  <p>
    Made by <a href="https://gr8ful.dev" target="_blank" class="text-blue-500 hover:text-blue-600">The Gr8ful.dev</a>  <%= Date.current.year %>
  </p>
</footer>
