<div class="grid grid-cols-4 gap-4">

    <div class="col-span-2">
        Made by <a href="https://gr8ful.dev" target="_blank" class="text-blue-500 hover:text-blue-600">The
        Gr8ful.dev</a>  <%= Date.current.year %>
    </div>

    <div >
      <h4 class="font-semibold mb-4">Contact us</h4>
      <ul class="space-y-2">
        <li class="text-gray-300"><a href="mailto:hello@eventlabs.live">hello@eventlabs.live</a></li>
        <li class="text-gray-300">1234567890</li>
      </ul>
    </div>

</div>


