<!-- Side bar Content : left -->
<div id="lhs-application-sidebar-content" aria-label="Sidebar">
  <!-- Content Goes in hera-->
  <h1 class="text-xl">Left</h1>
  <h1 class="text-xl">Sidebar</h1>
</div>
<!-- End Side Bar Content -->

