<!-- Side bar Content : right -->
<div id="lhs-application-sidebar-content" aria-label="Sidebar">
  <!-- Content Goes in here-->
  <h1 class="text-xl">Right</h1>
  <h1 class="text-xl">Sidebar</h1>
</div>
<!-- End Side Bar Content -->